---
const {imgp,titelp, textp, linktextp, href} = Astro.props;
---

<div class="bg-neutral-500 py-10 my-4 rounded-md w-[380px] h-[420px] ">
    <h4 class="px-11 text-xl">{titelp}</h4>
   <img src={imgp} class="w-[300px] mx-auto rounded-md">
    <p class="px-11 text-md">{textp}</p>
    <a href={href} class="px-11 text-md underline underline-offset-1 hover:underline-offset-4 duration-150 hover:text-lg ">{linktextp}</a>
</div>